* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Lato;
	background-color: #2C3E50;
	color: #ECF0F1;
}
h1, h2 {
	text-align: center;
	margin: 2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h1 {
	font-weight: 700;
	color:blue;
}
h2 {
	font-weight: 300;
}
.row {
	background-color: gray;
}