/*board containing all fires*/
.board_fires {
  display: flex; /*default value => flex*/
}

/*basic setup for board containig fires*/
.board_fire_basic {
  width: 49%; /*default = 49%*/
  height: 100vh; /*default = 100vh*/
  position: absolute; /*default = absolute*/
}

/*basic setup for board containig monsters*/
.board_monster_basic {
  display: flex;
  width: 49%; /*default = 49%*/
  height: 100vh; /*default = 100vh*/
  position: absolute; /*default = absolute*/
}

.fires {
  height: 9vw;
}
