/*board containing all fires*/
/*you can modify from here*/
.board_fires2{
    display: flex;
}

/*board containing all monsters*/
/*you can modify from here*/
.board_monsters2{
    display: flex;
    justify-content: space-around;
}

.control_question2 {
color: white;
font-weight: 400;
margin: auto;
}

.control_mission2 {
width: 80%;
padding: 1rem;
margin: 0 auto;
text-align: left;
word-spacing: 0.2rem;
}

.control_form2 {
background: rgba(0,0,0,0.6);
width: 80%;
padding: 1rem;
margin: 0 auto;
text-align: left;
word-spacing: 0.2rem;
}

.hint2{
	margin: 0;
	font-size: 0.7rem;
    color: dodgerblue;
}