/*board containing all fires*/
.board_fires3{
    display: flex; /*default value => flex*/
}

/*board containing all monsters*/
.board_monsters3{
    display: flex; /*default value => flex*/
	align-items:center;
	justify-content: flex-end;
}

