/*board containing all fires*/
.board_fires1{
    display: flex; /*default value => flex*/
}


/*board containing all monsters*/
.board_monsters1{
    display: flex; /*default value => flex*/
    justify-content: flex-end; /*You can edit it*/
}

