.footer_section{
    background-color: rgb(44,62,80);
    padding: 1rem 0;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    min-width: 600px;
}

.footer_section_left{

}


.footer_links{
    text-decoration: none;
    color: white;
}