.App {
  text-align: center;
  width: 100%;
  min-width: 600px;
  height:100vh;
}

.title {
	font-family: 'Press Start 2P', cursive;
}

.monsters{
	height:9vw;
}

.record_btn {
	background-color: #008CBA;
	color: white;
	border: 2px solid transparent;
	padding: 8px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	margin: 2px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.record_btn:hover {
	background-color: transparent;
	border: 2px solid #008CBA;
	color: white;
}

/*it contains board and control*/
.main_container{
  display: inline-flex;
  width: 100%;
}

.board_section{
	border: 2px solid black;
	border-right: none;
	width:50%;
	min-width: 300px;
	height:100vh;
	background-color: #5F8C2F;
}

.control_section{
	border: 2px solid black;
	border-right: none;
	width:50%;
	min-width: 300px;
	height:100vh;
	background-image: url('assets/img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

	.control_container{
		margin-top:2rem;
		text-align: center;
	}

		.control_card{
			background: rgba(0,0,0,0.5);
			width: 95%;
			height: 85vh;
			margin:0 auto;
		}

/***********************************************************/
/***********************************************************/
/***********************************************************/
/*******************Subcomponents CSS***********************/
/***********************************************************/
/***********************************************************/